body {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-repeat: repeat;
  background-image: url("pic2.jpg");
  background-size: 400px;
  background-position: center;
}

.body {
  display: flex;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: radial-gradient(white, lightblue, white);
  align-items: center;
  box-shadow: 0 0 20px lightblue; 0 0 50px lightblue;
}

.nav-menu li {
 list-style: none;
 display: inline;
} 

.nav-menu {
  position: relative;
  width: 20em;
  height: 20em;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 5em auto 7em;
}

.nav-menu a {
  display: block;
  position: absolute;
  top: 40%;
  left: 95%;
  width: 8em;
  height: 8em;
  line-height: 8em;
  border-radius: 4em;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  margin: -3.5em;
}

.nav-menu a {
  background:#009cde;
  opacity: 0.6;
}

.nav-menu a:hover {
  background: radial-gradient(blue, #009cde, white);
  opacity: 1;
  font-size: 1.1em;
  box-shadow: 0 0 15px blue;
  text-shadow: 0 0 15px white;
}

.nav-menu .wish { 
  transform: rotate(220deg) translate(12em) rotate(-220deg);
}
  
.nav-menu .greet { 
  transform: rotate(250deg) translate(12em) rotate(-250deg); 
}
  
.nav-menu .poem2024 { 
  transform: rotate(280deg) translate(12em) rotate(-280deg); 
}

.nav-menu .poem2022 { 
  transform: rotate(310deg) translate(12em) rotate(-310deg); 
}

.nav-menu .poem2019 { 
  transform: rotate(340deg) translate(12em) rotate(-340deg); 
}

.nav-menu .poem2018 { 
  transform: rotate(10deg) translate(12.5em) rotate(-10deg); 
}
  
.nav-menu .pics { 
  transform: rotate(40deg) translate(14em) rotate(-40deg); 
}

.head {
  display: grid;
  width: 200px;
  height: 250px;
  background-image: radial-gradient(closest-side, burlywood, tan, saddlebrown);
  align-items: center;
  place-content: center;
  border-radius: 80% 80% 80% 80%;
  margin: 200px;
  margin-left: -100px;
}

.ear.right {
  display: inline-block;
  position: absolute;
  margin-top: 25px;
  margin-left: 172px;
  width: 30px;
  height: 90px;
  background: radial-gradient(closest-side, saddlebrown, burlywood, tan, saddlebrown);
  clip-path: polygon(65% 88%, 50% 90%, 45% 90%, 40% 87%, 35% 70%, 30% 60%, 30% 30%, 30% 8%, 35% 5%, 40% 2%, 70% 5%, 80% 10%, 90% 20%, 95% 30%, 95% 35%, 95% 40%, 100% 50%, 90% 60%, 80% 65%, 70% 80%);
}

.ear.left {
  transform: scaleX(-1);
  display: inline-block;
  position: absolute;
  margin-top: 25px;
  margin-left: -10px;
  width: 30px;
  height: 90px;
  background: radial-gradient(closest-side, saddlebrown, burlywood, tan, saddlebrown);
  clip-path: polygon(65% 88%, 50% 90%, 45% 90%, 40% 87%, 35% 70%, 30% 60%, 30% 30%, 30% 8%, 35% 5%, 40% 2%, 70% 5%, 80% 10%, 90% 20%, 95% 30%, 95% 35%, 95% 40%, 100% 50%, 90% 60%, 80% 65%, 70% 80%);
}

.hair-wrap {
  filter: drop-shadow(0 3px 3px #555)
}

.hair {
  display: inline-block;
  /*border-top: 25px solid #4F3222;*/
  position: absolute;
  margin-top: -280px;
  margin-left: -95px;
  width: 380px;
  height: 380px;
  background: radial-gradient(#1a0d00, #4d2600, black 80%);
  clip-path: polygon(74% 20%, 73% 15%, 71% 13%, 70% 10%, 60% 3%, 50% 0%, 40% 2%, 35% 5%, 30% 10%, 29% 13%, 27% 15%, 26% 20%, 24% 25%, 23% 30%, 25% 28%, 24% 32%, 25% 30%, 25% 35%, 26% 30%, 27% 35%, 28% 30%, 32% 25%, 34% 20%, 36% 18%, 34% 18%, 36% 18%, 40% 18%, 40% 16%, 44% 18%, 44% 16%, 48% 18%, 48% 16%, 51% 18%, 50% 16%, 55% 18%, 54% 16%, 59% 18%, 56% 16%, 62% 18%, 64% 18%, 66% 18%, 64% 18%, 66% 20%, 68% 25%, 73% 35%, 73% 30%,  75% 35%, 75% 30%, 76% 32%, 75% 28%, 77% 30%, 76% 25%);
}

.beard-wrap {
  filter: drop-shadow(0px -3px 3px black);
}

.beard {
  display: inline-block;
  margin-top: 130px;
  width: 190px;
  height: 150px;
  opacity: 1;
  box-shadow: 0px 0px 10px brown;
  background: radial-gradient(closest-side, #1a0d00, #4d2600 110%, saddlebrown, black 160%);
  clip-path: polygon(0% 0%, 5% 0%, 15% 40%, 17% 45%, 22% 47%, 25% 45%, 30% 40%, 40% 38%, 45% 37%, 50% 37%, 55% 37%, 60% 38%, 70% 40%, 75% 45%, 78% 47%, 83% 45%, 85% 40%, 95% 0%, 100% 0%, 100% 30%, 97% 50%, 90% 65%, 80% 80%, 70% 86%, 65% 90%, 60% 92%, 55% 93%, 50% 93%, 45% 93%, 35% 90%, 30% 86%, 20% 80%, 10% 65%, 3% 50%, 0% 30%)
}

@keyframes mouthMove {
  0% {margin-left: 45px; height: 40px; width: 100px; border-radius: 100% 0% 100% 0%;}
  100% {margin-left: 65px; height: 60px; width: 60px; border-radius: 50%;}
}

@keyframes teethMove {
  0% {width: 68px; height: 2px; border-radius: 80%; margin: 5px 5px; border-top: 3px dashed azure; border-bottom: 3px dashed azure;}
  100% {width: 33px; height: 30px; border-radius: 35%; margin: 0px 1px; border-top: 4px dashed azure; border-bottom: 4px dashed azure;}
}

@keyframes tongue {
  0% {background: transparent; margin: -35px 22px; height: 14px; width: 20px; opacity: 0;}
  50% {background: radial-gradient(darkred, crimson 90%); margin: 15px 7px; height: 15px; width: 20px; opacity: 0.2;}
  100% {background: radial-gradient(darkred, crimson 90%); margin: 15px 7px; height: 15px; width: 20px; opacity: 1;}
}

.mouth {
  box-sizing: border-box;
  background: radial-gradient(#333333 5%, lightcoral 90%);
  width: 100px;
  height: 40px;
  margin-top: -120px;
  margin-left: 45px;
  border-radius: 100% 0% 100% 0%;
  rotate: 20deg;
  border: 12px solid firebrick;
  box-shadow: 0px 0px 10px tan;
  transform: scale(0.85);
}

.teeth {
  width: 68px;
  height: 2px;
  background-color: none;
  border-top: 3px dashed azure;
  border-bottom: 3px dashed azure;
  border-radius: 80%;
  margin: 4px 5px;
  rotate: -18deg;
}

.tongue {
  width: 30px;
  height: 14px;
  background-color: transparent;
  border-radius: 60%;
  margin: -7px 20px;
  box-shadow: 0px 0px 5px crimson;
}

.nose-wrap {
  filter: drop-shadow(0px 5px 5px black);
}

.nose {
  position: absolute;
  width: 40px;
  height: 100px;
  background-image: linear-gradient(to left, saddlebrown 5%, burlywood 50%, tan 20%, saddlebrown);
  margin-top: -180px;
  margin-left: 75px;
  clip-path: polygon(0% 80%, 50% 30%, 100% 80%);
  border-radius: 70%;
}

@keyframes eyeBlink {
  0% {background: radial-gradient(closest-side, #9abbbb 0.1%, black 20%, #4F3222 30%, azure 80%); border-bottom: 1px solid; border-top: 3px dotted;} 
  100% {background: linear-gradient(45deg, saddlebrown, bisque); border-bottom: 3px dotted; border-top: 1px solid;}
}


.eye.left {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 100% 0% 100% 0%;
  background: radial-gradient(closest-side, #9abbbb 0.1%, black 20%, #4F3222 30%, azure 80%);
  position: absolute; 
  padding: 10px;
  margin: -20px 0px 0px 40px;
  rotate: 45deg;
  padding: 10px;
  border-bottom: 1px solid;
  border-top: 3px dotted black;
  box-shadow: 0px 0px 7px #4f3222;
}

.eye.right {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 100% 0% 100% 0%;
  background: radial-gradient(closest-side, #9abbbb 0.1%, black 20%, #4F3222 30%, azure 80%);
  position: absolute;
  padding: 10px;
  margin: -20px 0px 0px 120px;
  rotate: 45deg;
  padding: 10px;
  border-bottom: 1px solid;
  border-top: 3px dotted black;
  box-shadow: 0px 0px 7px #4f3222;
}

.hand {
  width: 100px;
  height: 300px;
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -200px;
  margin-left: -30px;
  rotate: -30deg;
  transform-origin: bottom center;
}

.wrist {
  position: absolute;
  width: 45px;
  height: 200px;
  background: linear-gradient(to left, saddlebrown -20%, burlywood, saddlebrown 85%);
  border-radius: 80%;
  margin-top: 70px;
  margin-left: 10px;
}

.hand.left {
  transform: scaleX(-1) rotate(-70deg);
  margin-left: 300px;
  
}

.palm {
  width: 70px;
  height: 70px;
  /*clip-path: polygon(30% 10%, 50% 0%, 75% 10%, 100% 30%, 100% 50%, 80% 100%, 30% 100%, 0% 70%, 10% 20%);*/
  clip-path: polygon(10% 20%, 0% 70%, 30% 100%, 80% 100%, 100% 50%, 100% 30%, 75% 10%, 50% 5%, 30% 10%);
  background: linear-gradient(saddlebrown -20%, burlywood, saddlebrown 85%);
  border-radius: 35px;
  position: absolute;
  margin-top: 30px;
  rotate: -10deg;
  box-shadow: inset 0 0 15px saddlebrown;
}

.litfig {
  display: inline-flex;
  flex-wrap: nowrap;
  position: relative;
  width: 10px;
  height: 20px;
  background-image: radial-gradient(closest-side, burlywood, tan, saddlebrown);
  align-items: center;
  margin-top: -30px;
  border-radius: 40%;
  margin-left: 2px;
  rotate: 2deg;
}

.finger {
  display: inline-flex;
  flex-wrap: nowrap;
  position: relative;
  width: 13px;
  height: 30px;
  background-image: radial-gradient(closest-side, burlywood, tan, saddlebrown);
  align-items: center;
  margin-top: -0px;
  border-radius: 40%;
  margin-left: 2px;
  box-shadow: 0 5px 3px saddlebrown
}

.index {
  rotate: 20deg;
  margin-top: 22px;
}

.middle.finger {
  height: 33px;
  
}

.middle .litfig{
  height: 23px;
}

.thumb {
  position: absolute;
  margin-top: 60px;
  margin-left: 55px;
  rotate: 50deg;
}

.thumb .finger {
  width: 15px;
}

.thumb .litfig {
  rotate: -30deg;
}

.little {
  rotate: -10deg;
  margin-top: 20px;
}

.little .litfig {
  width: 8px;
  height: 17px; 
}

.little.finger {
  width: 10px;
  height: 24px;
}

.ring {
  rotate: -5deg;
}

@keyframes heartKiss {
  0% {transform: scale(0); visibility: visible;};
  50% {transform: scale(0.5); visibility: visible;};
  100% {transform: scale(1.5); visibility: visible;};
}

.heartBody {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 10%;
  margin-top: 170px;
  margin-left: 220px;
  visibility: hidden;
}

.heart {
  filter: drop-shadow(0px 0px 5px red);
  display: inline-flex;
}

.heartL {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 180% 100% 180% 0%;
  transform: rotate(-70deg);
  margin: -22px;
  padding: 0;
}

.heartR {
  display: inline-block;
  width: 100px;
  height: 100px;
  transform: scaleX(-1) rotate(-70deg);
  background: red;
  border-radius: 180% 100% 180% 0%;
  margin: -22px;
  padding: 0;
}

.poem {
  display: inline-block;
  position: absolute;
  width: 350px;
  height: 400px;
  background: linear-gradient(to top, skyblue, transparent 10%, skyblue);
  border-radius: 20%;
  margin-left: 130px;
  margin-top: 80px;
  visibility: hidden;
  box-shadow: 0 0 5px black;
  overflow: auto;
}

.poem p {
  padding: 30px;
  font-family: cursive;
  text-shadow: 0 0 3px white, 0 0 10px white;

}


@media screen and (max-width: 480px) {
  body {
    scale: 0.7;
  }
}

@media screen and (max-width: 280px) {
  body {
    scale: 0.3;
  }
}

